<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true">
	<extensions>
		<add assembly="Nlog.RabbitMQ.Target" />
	</extensions>
	<variable name="rmqvHost" value="/" />
	<targets async="true">
		<target name="logstash"
		xsi:type="RabbitMQ"
		username="admin"
		password="admin"
		hostname="rabbitmq"
		exchange="rmq.logs"
		port="5672"
		vhost="${rmqvHost}"
		useJSON ="true">
		</target>
	</targets>

	<rules>
		<logger name="*" minlevel="Trace" writeTo="logstash" />
	</rules>
</nlog>
